[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
aioredis = "*"
pydantic = {extras = ["email"], version = "*"}
alembic = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10"
