[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
asyncpg = "*"
databases = "*"
aioredis = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
